@import url("https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #0a0d14;
  --primary-color-light: #20242f;
  --secondary-color: #f4e009;
  --extra-light: rgba(255, 255, 255, 0.5);
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: Poppins, ;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}



.section__header {
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: 800;
  font-family: var(--header-font);
  text-align: center;

}



.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

span{
color: #f4e009;
}

.btn {
  padding: 18px 20px;
  font-family: poppins;
  font-weight: 500;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  color: var(--primary-color);
  background: linear-gradient(45deg, #FFFF00, #FFA500);
  cursor: pointer;
  transition: .2s;
}

.btn:hover{
  transform: translateY(-15px);
}

.btn1{
  padding: 18px 20px;
  font-family: poppins;
  font-weight: 600;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  color: #f4e009;
  background: black;
  cursor: pointer;
  transition: .2s;
}

.btn1:hover{
  background: white;
  color: #0a0d14;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-color: var(--primary-color);
}

header {
  background-image: linear-gradient(to top, var(--primary-color), transparent),
    url("assets/Maxime Manga.jfif");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
 
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid var(--extra-light);
}

.nav__bar {
  
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav__logo a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.nav__logo img{
  width: 100px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  padding: 1.5rem 5px;
  font-weight: 500;
  color: var(--white);
  transition: 0.2s;
}

.link a:hover {
  background: linear-gradient(180deg, yellow, rgb(255, 0, 149));
  -webkit-background-clip: text; /* Clip the text to the background */
  color: transparent;
  border-bottom: 2px solid white
}

.link span {
  padding: 1rem 0;
  color: var(--white);
  cursor: pointer;
}

.header__container {
  padding: 12rem 1rem;
}

.header__container h1{
  font-size: 0px;
}

.header__container .btn{
  background: #f4e009;
  color: #20242f;
  font-size: 18px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  animation: glow 1s infinite alternate; /* Use CSS animation */
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px 3px #f4e009 /* Start with glow */
    }
    100% {
        box-shadow: 0 0 20px 6px #f4e009/* Increase glow */
    }
}
/*  */
/* .header__container .btn::before {
  content: "";
  color: #fff;
  background: linear-gradient(45deg, yellow, orange);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s, transform 0.3s;
}

.header__container .btn:hover {
  background: yellow;
  box-shadow: 0 0 10px 3px rgba(255, 165, 0, 0.8); 
}

.header__container .btn:hover::before {
  opacity: 1;
  transform: scale(1);
} */


.header__container h1 {
  margin-bottom: 5px;
  max-width: 700px;
  font-size: 50px;
  font-family: var(--header-font);
}

.header__container h4 {
  position: relative;
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500;
}

.header__container h1 img{
  width: 300px;
}

.header__container h4::after {
  position: absolute;
  content: "";
  left: -3rem;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 2rem;
  background-color: var(--white);
}

.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.about__container :is(.section__header, .section__subheader) {
  text-align: left;
}

.about__flex {
  margin: 2rem 0;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: var(--primary-color-light);
}

.about__card {
  flex: 1 1 150px;
  text-align: center;
  border-right: 2px solid var(--primary-color);
}

.about__card:last-child {
  border: none;
}

.about__card h4 {
  margin-bottom: 5px;
  font-size: 3rem;
  font-weight: 600;
  font-family: var(--header-font);
}

.about__card p {
  font-size: 0.9rem;
}

.about__image img {
  max-width: 450px;
  margin: auto;
  border-radius: 50%;
}

.discover {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.05),
    transparent
  );
}

.discover__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.discover__card {
  max-width: 320px;
  margin: auto;
}

.discover__card:nth-child(2) {
  transform: translateY(5rem);
}

.discover__image {
  position: relative;
}

.discover__image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, var(--primary-color), transparent);
}

.discover__card__content {
  padding: 0 2rem;
  transform: translateY(-50%);
}

.discover__card__content h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--secondary-color);
}

.discover__card__content p {
  margin-bottom: 2rem;
}

.discover__btn {
  padding: 0.75rem 1rem;
  outline: none;
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
  cursor: pointer;
}

.blogs__container {
  padding: 5rem 0;
  align-items: center;
}

.blogs__grid {
  margin-top: 4rem;
 
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.blogs__card {
  position: relative;
  padding:110px ;
  margin: 20px;
  border-radius: 20px;
  color: #0a0d14;
  background-color:#f4e009;
  border: 2px solid #f4e009;
  box-shadow:0px 5px 30px #f4e0096c;
  transition: .2s;
}



.blogs__card .ll{
  font-size: 15px;
  color: #40475a;
 
}

.blogs__card img{
  width: 60px;
}

.blogs__card:hover{
  
  cursor: pointer;
  transform: translateY(-10px);
  background-color: black;
  color: #f4e009;
}

.blogs__card::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* background-image: linear-gradient(to top, #f48609, transparent); */
}

.blogs__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 1;
}




.blogs .lo{
  width: 500px;
}



.blogs__container2{
  padding: 5rem 0;
  align-items: center;
}
.blogs__grid2 {
  margin-top:10px;
 
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.blogs__card2 a{
  color: #20242f;
}

.blogs__card2 {
  text-decoration: none;
  position: relative;
  padding:110px ;
  margin: 20px;
  border-radius: 20px;
  color: #0a0d14;
  background-color:white;
  border: 2px solid white;
  box-shadow:0px 5px 30px #ffffff6c;
  transition: .2s;
}

.blogs__card2 .ll{
  font-size: 15px;
  color: #40475a;
 
}

.blogs__card2 img{
  width: 60px;
}

.blogs__card2:hover{
  
  cursor: pointer;

  transform: translateY(-10px);
  background-color: #f4e009;
  color: #f4e009;
}

.blogs__card2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* background-image: linear-gradient(to top, #f48609, transparent); */
}

.blogs__content2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 1;
}



.journals{
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.05),
    transparent
  );
}

.journals__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.journals__content {
  padding: 2rem;
  background-color: var(--primary-color-light);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.journals__author {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
 .journals__grid img{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
 }

.journals__author img {
  max-width: 30px;
  border-radius: 100%;

}


#io{ 

  color:linear-gradient(45deg, #FFFF00, #FFA500);
}

.journals__author p {
  font-size: 0.9rem;
  opacity: 0.75;
}

.journals__content h4 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.journals__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.journals__footer p {
  font-size: 0.9rem;
  opacity: 0.5;
}

.journals__footer span a {
  font-size: 1.5rem;
  color: var(--white);
  opacity: 0.75;
}

.journals__btn {
  margin-top: 4rem;
  text-align: center;
}

.hero__container p {
  text-align: center;
  font-size: 12rem;
  font-weight: 700;
  background: linear-gradient(45deg, #FFFF00, #FFA500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--extra-light);
  animation-name: float;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* Create the animation */
@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}
.gallery__container {
  padding: 5rem 1rem;
}

.gallery__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.gallery__card {
  position: relative;
  overflow: hidden;
}

.gallery__content {
  position: absolute;
  left: 50%;
  bottom: -8rem;
  transform: translateX(-50%);
  width: 100%;
  padding: 2rem 1rem;
  transition: 0.3s;
  text-align: center;
  background-image: linear-gradient(to top, var(--primary-color), transparent);
}

.gallery__content h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--header-font);
}

.gallery__card:hover .gallery__content {
  bottom: 0;
}

.contact {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.05),
    transparent
  );
}

.contact__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
}

.contact__card {
  max-width: 250px;
  margin: auto;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  text-align: center;
  border: 1px solid var(--extra-light);
  border-radius: 100%;
  cursor: pointer;
}

.contact__card span {
  margin-bottom: 1rem;
  font-size: 2rem;
  transition: 0.3s;
}

.contact__card:hover span {
  color: var(--secondary-color);
}

.contact__col h4 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 800;
  font-family: var(--header-font);
}

.contact__col h5 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
}

.footer__container {
  text-align: center;
}

.footer__container h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.footer__socials {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer__socials span a {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}

.footer__socials span a:hover {
  color: var(--secondary-color);
}

.footer__container p {
  max-width: 600px;
  margin: auto;
  margin-bottom: 4rem;
}

.footer__nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer__link a {
  font-weight: 500;
  color: var(--white);
}

.footer__link a:hover {
  color: var(--secondary-color);
}

.footer__bar {
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  border-top: 1px solid var(--extra-light);
}

@media (max-width: 900px) {
  .link:not(.search) {
    display: none;
  }

  .about__container {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .about__container :is(.section__header, .section__subheader) {
    text-align: center;
  }

  .about__image {
    grid-area: 1/1/2/2;
  }

  .discover__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .blogs__grid {
    grid-template-columns: repeat(2, 1fr);
  }

.blogs__grid2 {

    grid-template-columns: repeat(1, 1fr);
  }

  .journals__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .hero__container p {
    font-size: 10rem;
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__col:first-child {
    grid-area: 1/1/2/3;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .section__header{
    font-size: 36px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .section__subheader{
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }


  .header__container {
    text-align: center;
  }

  .header__container h4 {
    margin-left: 0;
  }
  .header__container h1 img{
    width: 300px;
  }
  
  .header__container h1 {
    font-size: 50px;
  }

  .about__card {
    border: none;
  }

  .discover__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .discover__card:nth-child(2) {
    transform: translateY(0);
  }

  .blogs__grid {
    grid-template-columns: repeat(1, 1fr);
    
  }

  .blogs__grid2 {
  
    grid-template-columns: repeat(1, 1fr);
    
  }

  
.blogs .lo{
  width: 300px;
}
  .journals__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero__container p {
    font-size: 6rem;
  }

  .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact__col:first-child {
    grid-area: unset;
  }
}